<div class="carousel">
  <ul class="carousel__items">
    <li class="carousel__item carousel__item--selected"><img src="http://lorempixel.com/people/600/400/" alt=""></li>
    <li class="carousel__item"><img src="http://lorempixel.com/people/600/400/" alt=""></li>
    <li class="carousel__item"><img src="http://lorempixel.com/sport/600/400/" alt=""></li>
    <li class="carousel__item"><img src="http://lorempixel.com/art/600/400/" alt=""></li>
    <li class="carousel__item"><img src="http://lorempixel.com/tech/600/400/" alt=""></li>
  </ul>
</div>