<form action="" class="contact-form">
  <div class="form__item">
    <label for="form__item__label">Name</label>
    <input type="text" value="" placeholder="Name" class="form__item__input">
  </div>
  <div class="form__item">
    <label for="form__item__label">Surname</label>
    <input type="text" value="" placeholder="Surname" class="form__item__input">
  </div>
  <div class="form__item">
    <label for="form__item__label">Email</label>
    <input type="email" value="" placeholder="Email" class="form__item__input">
  </div>
  <div class="form__item">
    <label for="form__item__label">Message</label>
    <textarea placeholder="Message" class="form__item__input"></textarea>
  </div>
  <input type="submit" value="Send message" class="form__item__submit">
</form>