<form action="" class="contact-form">
  <div class="contact-form__item">
    <label for="name">Name</label>
    <input type="text" value="" placeholder="Name" class="input input--focus">
  </div>
  <div class="contact-form__item">
    <label for="surname">Surname</label>
    <input type="text" value="" placeholder="Surname" class="input input--focus">
  </div>
  <div class="contact-form__item">
    <label for="email">Email</label>
    <input type="email" value="" placeholder="Email" class="input input--focus">
  </div>
  <div class="contact-form__item">
    <label for="message">Message</label>
    <textarea placeholder="Message" class="input input--focus"></textarea>
  </div>
  <input type="submit" value="Send message" class="submit">
</form>