<ul class="menu-primary__items-list">
  <li class="menu-primary__item menu-primary__item--is-active"><a class="menu-primary__link menu-primary__link--is-active" href="#">Home</a></li>
  <li class="menu-primary__item"><a class="menu-primary__link" href="#">About</a></li>
  <li class="menu-primary__item"><a class="menu-primary__link" href="#">Products</a></li>
  <li class="menu-primary__item"><a class="menu-primary__link" href="#">Contact</a></li>
  <li class="menu-primary__item"><a class="menu-primary__link" href="#">Where</a></li>
</ul>